{% extends "pagInicial.html" %}

{% block content %}

{% load static %}



<div class="container contenido-torneo1">
   <div class="row">
    <div class="col-4 img-torneo1">
        <img src="{{ partido.imagenUrl.url }}" class="img-fluid" />
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>{{ object.nombre }}</h2>
            </div>
        </div>
            <div class="col-12">
                <p>
                    {{ object.descripcion }}
                </p>
                <p>-Árbitro involucrado?: {{ object.arbitro }}</p>
                <p>-Experiencia Previa necesaria?: {{ object.exp }}</p>
                <p>-Fecha: {{object.fecha_creacion}} </p>
                <p>-Modalidad: {{object.tipo}}</p>
                <p>-Creador del evento: {{object.autor}}</p>
                <br>
            
        </div>
        {% if object.autor != user %}
        <button type="button" class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Inscribirse
          </button>


          
          <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Inscribirse en este partido?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <h2>
                    Estás a punto de inscribirte en el partido <b>{{ object.nombre }} </b> del usuario <b>{{ object.autor }}. </b> Estás seguro?
                </h2>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                 Sí, inscribirme
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                    </div>
                </div>





                



                </div>
            </div>
            </div>
        </div>
        
        <div>
            <a class="btn btn-outline-danger" href="/valorar">Ir a Post-partido</a>
        </div>

        {% endif %}
        </div>
        <br>
        {% if partido.autor == user %}
    <!-- Botones para editar o borrar -->
    <br>
    <div>
        <a class="btn btn-outline-danger" href="{% url 'borrar_partido' partido.pk %}">Borrar</a>
    </div>
{% endif %}

        <div class="container mt-5">
            <h1>Comentarios</h1>
        </div>

        
    </div>
   </div>
</div>








{% endblock %}