{% extends "pagInicial.html" %}

{% block content %}

{% load static %}


<div class="row mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mt-5 mb-5 shadow-sm">
        <img src="{% static "img/partido1.jpg" %}" class="img-fluid" />

        <div class="card-body">
           <div class="card-title">
            <h2>Partido 1</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mt-5 mb-5 shadow-sm">
        <img src="{% static "img/partido2.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Partido 2</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mt-5 mb-5 shadow-sm">
        <img src="{% static "img/partido3.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Partido 3</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="{% static "img/partido4.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Partido 4</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="{% static "img/partido5.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Partido 5</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-5 shadow-sm">
          <img src="{% static "img/partido6.jpg" %}" class="img-fluid" />
  
          <div class="card-body">
            <div class="card-title">
              <h2>Partido 6</h2>
            </div>
            <div class="card-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deleniti corporis quis ab. Exercitationem et quibusdam
                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                maxime facere, quod harum aliquid in...
              </p>
            </div>
            <a href="#" class="btn btn-outline-primary rounded-0 float-end"
              >Saber más</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-5 shadow-sm">
          <img src="{% static "img/partido7.jpg" %}" class="img-fluid" />
  
          <div class="card-body">
            <div class="card-title">
              <h2>Partido 7</h2>
            </div>
            <div class="card-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deleniti corporis quis ab. Exercitationem et quibusdam
                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                maxime facere, quod harum aliquid in...
              </p>
            </div>
            <a href="#" class="btn btn-outline-primary rounded-0 float-end"
              >Saber más</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-5 shadow-sm">
          <img src="{% static "img/partido8.jpg" %}" class="img-fluid" />
  
          <div class="card-body">
            <div class="card-title">
              <h2>Partido 8</h2>
            </div>
            <div class="card-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deleniti corporis quis ab. Exercitationem et quibusdam
                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                maxime facere, quod harum aliquid in...
              </p>
            </div>
            <a href="#" class="btn btn-outline-primary rounded-0 float-end"
              >Saber más</a
            >
          </div>
        </div>
      </div>

   
  </div>
</div>

{% endblock %}