{% extends "pagInicial.html" %}

{% block content %}

{% load static %}



<div class="container contenido-torneo1">
   <div class="row">
    <div class="col-4 img-torneo1">
        <img src="{{ partido.imagenUrl.url }}" class="img-fluid" />
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>{{ object.nombre }}</h2>
            </div>
        </div>
            <div class="col-12">
                <p>
                    {{ object.descripcion }}
                </p>
                <p>-Árbitro involucrado?: {{ object.arbitro }}</p>
                <p>-Experiencia Previa necesaria?: {{ object.exp }}</p>
                <br>
            
        </div>
        <div class="row">
                <button id="cambiar-btn" type="button" class="btn btn-outline-primary float-end">Inscribirse</button>

            </div>
        </div>
        <br>
        {% if partido.autor == user %}
    <!-- Botones para editar o borrar -->
    <div>
        <a class="btn btn-outline-danger" href="{% url 'borrar_partido' partido.pk %}">Borrar</a>
    </div>
{% endif %}

        <div class="container mt-5">
            <h1>Comentarios</h1>
        </div>
    </div>
   </div>
</div>








{% endblock %}