{% extends "pagInicial.html" %}

{% block content %}

{% load static %}


<div class="row mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mt-5 mb-5 shadow-sm">
        <img src="{% static "img/cancha1.jpg" %}" class="img-fluid" />

        <div class="card-body">
           <div class="card-title">
            <h2>Torneo 1</h2>
          </div>
          <div class="card-text">
            <p>
              ¡Prepárate para una experiencia única en el mundo del tenis! Anunciamos nuestro Torneo Individual de Tenis, ¡un evento que elevará tus habilidades al siguiente nivel!
            </p>
            <p>-Modalidad: Individual</p>
            <p>-Modalidad: Con o sin experiencia previa</p>
          </div>
          <a href="/torneo1" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mt-5 mb-5 shadow-sm">
        <img src="{% static "img/cancha3.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Torneo 2</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mt-5 mb-5 shadow-sm">
        <img src="{% static "img/cancha2.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Torneo 3</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="{% static "img/cancha4.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Torneo 4</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="{% static "img/cancha5.jpg" %}" class="img-fluid" />

        <div class="card-body">
          <div class="card-title">
            <h2>Torneo 5</h2>
          </div>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Deleniti corporis quis ab. Exercitationem et quibusdam
              impedit? Sint vitae labore nulla sit, dignissimos non tempore,
              maxime facere, quod harum aliquid in...
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end"
            >Saber más</a
          >
        </div>
      </div>
    </div>

   
  </div>
</div>

{% endblock %}